body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
.flag {
    width: 500px;
    height: 300px;
    border: 2px solid #f4f4f4;
}

.stripe {
    height: 100px;
}

.blue {
    background-color: #1f6fb2;
}

.black {
    background-color: #2b2424;
}

.white {
    background-color: #f4f4f4;
}
